{% extends 'foursquaresearch/base.html' %}

{% block favorites %}
<div class="col-sm-1">
</div>
<div class="col-sm-5">
  <div style="text-align: center;">
    <h3>Favorite Places<br></h3>
    <div>
      <table class="table table-bordered">
        <tr>
          <th>Place</th>
          <th>Address</th>
        </tr>
        <tr>
          {% for favorite in favorites %}
          <td>{{ favorite.place.name }}</td>
          <td>{{ favorite.place.location }}</td>
          <td>
            <form action={% url 'remove_from_favorites' %} method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ favorite.place.id }}"/>
              <input type="hidden" name="page" value="{{ current_page }}"/>
              <button type="submit" class="btn-link">DEL</button>
            </form>
          </td>
        </tr>
              {% empty %}
              You didn't like anything :(
        {% endfor %}
      </table>
    </div>
    <div class="pagination">
      <span class="step-links">
        <table>
          <tr>
            {% if favorites.has_previous %}
            <td><a href="?page={{ favorites.previous_page_number }}">
                <button type="button" class="btn btn-info">PREV</button></a></td>
            {% endif %}
            {% for page in num_pages %}
            <td>
              {% if page == favorites.number %}
              <span class="current btn btn-primary">{{ page }}</span>
              {% else %}
              <span class="other-page"><a href="?page={{ page }}">
                  <button type="button" class="btn btn-info">{{ page }}</button></a></span>
              {% endif %}
            </td>
            {% endfor %}
            {% if favorites.has_next %}
            <td><a href="?page={{ favorites.next_page_number }}">
                <button type="button" class="btn btn-info">NEXT</button></a></td>
            {% endif %}
          </tr>
        </table>
      </span>
    </div>
  </div>
</div>
<div class="col-sm-1">
</div>
{% endblock %}
