{% extends 'foursquaresearch/base.html' %}

{% block search %}
  {% if is_searched %}
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <h3> Results for {{ what_to_look }} in {{ location }}
        <br><br></h3>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Checkins</th>
        </tr>
        <tr>
        {% for venue in venues %}
        <td>{{ venue.name }}</td>
        <td>{{ venue.stats.checkinsCount }}</td>
        <td>{{ venue.location.address }}</td>
        {% if logged_in %}
        <td>
          <form action={% url 'add_to_favorites' %} method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ venue.id }}"/>
            <input type="hidden" name="name" value="{{ venue.name }}"/>
            <input type="hidden" name="location" value="{{ venue.location.address }}"/>
            <button type="submit" class="btn-link">FAV</button>
          </form>
        </td>
        {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-sm-1">
    </div>
    {% elif not is_searched %}
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <br>
      {{error}}<br>
    </div>
  {% endif %}

{% endblock %}
