<html>
    <head>
        <title>Foursquare Ultima</title>
    </head>
    <body>
        <div>
            <h1>The Ultimate Foursquare Client</h1>
        </div>
        <div>
          {% block content %}
          <form method="POST" class="post-form">{% csrf_token %}
            {{ form }}
            <button type="submit" class="save btn btn-default">OK</button>
          </form>
          {% endblock %}
        </div>
        {% if search %}
        <div>
          <table>
            <tr>
              <th>Name</th>
              <th>Checkins</th>
            </tr>
            <tr>
            {% for venue in venues %}
            <td>{{ venue.name }}</td>
            <td>{{ venue.stats.checkinsCount }}</td>
            </tr>
            {% empty %}
            {{error}}<br><br>
            {% endfor %}
          </table>
          <br>
        </div>
        {% endif %}
        <div>
          Previous Searches<br>

          {% for i in history|slice:":5" %}
          - {{ i.search_key }} in {{ i.search_location }}<br>
          {% endfor %}
        </div>
    </body>
</html>
