<html>
    <head>
        <title>Foursquare Ultima</title>
    </head>
    <body>
        <div>
            <h1>The Ultimate Foursquare Client</h1>
        </div>
        <div>
          {% block content %}
          <form method="POST" class="post-form">{% csrf_token %}
            {{ form }}
            <button type="submit" class="save btn btn-default">OK</button>
          </form>
          {% endblock %}
        </div>
        <div>

        </div>

        <div>
            <h2>Results</h2>
        </div>
        <div>
            <h2>Previous Searches</h2>
            {% for item in history %}
            <div>
              <p>{{ item.search_key }}</p>
            </div>
            {% endfor %}
        </div>



    </body>
</html>
